# Environments
.env
.venv
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Local Database (Using Supabase Cloud now)
whatsapp_bot.db

# Scratch / Testing
scratch/

# OS Files
.DS_Store
Thumbs.db

# Node / WebJS
node_modules/
.wwebjs_auth/
.wwebjs_cache/

# RAG Data
data/chroma_db/
data/kdi_knowledge.txt
